/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

input{
    transform: scale(0.875);
    transform-origin: left center;
    margin-right: -14.28%;
}